main {
  margin: 4rem;
  padding: 1rem;
}

#title {
  font-size: x-large;
  padding-bottom: 1rem;
  color: rgb(46, 46, 45);
}

h3 {
  color: rgb(0, 0, 0);
  padding-top: 1rem;
}

div {
  padding-block: 0rem 1rem;
}

li {
  list-style-position: inside;
  color: rgb(42, 43, 38);
}

.duties {
  padding-top: 0.2rem;
}

.company,
.address {
  color: rgb(51, 51, 44);
}

button {
  padding: 0.5rem;
  cursor: pointer;
  margin-top: 1rem;
  background: none;
  border-radius: 1rem;
  border: solid 0.2rem rgb(61, 61, 59);
}

#download-btn {
  position: fixed;
  top: 90%;
  left: 80%;
  margin: 0;
  color: #ffffff;
  background: rgb(0, 0, 0);
}

@media (max-width: 665px) {
  main {
    margin: 2rem;
    padding: 1rem;
  }

  #download-btn {
    left: 70%;
  }
}
